:root {
    --color-one: #1ABC9C;
    --color-two: #2C3E50;
    --color-two-light: #3A546D;
    --color-three: #5289a6;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    padding-top: 1rem;
}

header a:hover, footer a:hover {
    color: var(--color-three);
}

.bg-one {
    background-color: var(--color-one);
}

.bg-two {
    background-color: var(--color-two);
}

.bg-two-light {
    background-color: var(--color-two-light);
}

.color-two {
    color: var(--color-two);
}

.section {
    padding: 4rem;
}

.card-section-one img {
    width: 200px;
    margin: 0 auto;
}

.card-img img {
    width: 100%;
    border-radius: 10px;
}

.card-img:hover {
    transform: scale(1.1);
}

.my-border-bottom {
    border-bottom: 1px solid var(--color-two);
}

.my-form-border {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.form-floating>label {
    padding-left: 0;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--color-one);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(#1ABC9C / 25%);
}

.btn-primary {
    color: #fff;
    background-color: var(--color-one);
    border-color: var(--color-one);
}

.btn-primary:hover {
    color: #fff;
    background-color: #10a184;
    border-color: #10a184;
}

.logos {
    width: 40px;
    aspect-ratio: 1;
}

.gap {
    gap: 1rem;
}

.logos:hover {
    background-color: var(--color-two);
}

.bottom-link {
    text-decoration: none;
    color: var(--color-one);
}